Repository pikers/piker, pull requests merged in 2022-02, with the labels that each got.

#269 Add default for multiplier var
  piker/ui/_style.py
Labels: bug

#271 Ib mkt closed
  piker/brokers/ib.py
  piker/clearing/_ems.py
Labels: bug, UI, broker-backend

#268 Trade ratez
  piker/brokers/ib.py
  piker/data/_normalize.py
  piker/data/_sampling.py
  piker/data/_sharedmem.py
  piker/data/feed.py
  piker/fsp/_api.py
  piker/fsp/_engine.py
  piker/fsp/_momo.py
  piker/fsp/_volume.py
  piker/ui/_axes.py
  piker/ui/_chart.py
  piker/ui/_cursor.py
  piker/ui/_curve.py
  piker/ui/_display.py
  piker/ui/_fsp.py
  piker/ui/_interaction.py
  piker/ui/_overlay.py
  piker/ui/order_mode.py
Labels: you're-not-a-quant, fsp, viz, graphics
