Repository pikers/piker, pull requests merged in 2022-08, with the labels that each got.

#349 Kraken ws orders
  piker/brokers/binance.py
  piker/brokers/kraken/README.rst
  piker/brokers/kraken/api.py
  piker/brokers/kraken/broker.py
  piker/brokers/kraken/feed.py
  piker/clearing/_ems.py
  piker/clearing/_messages.py
  piker/data/_ahab.py
  piker/data/types.py
  piker/ui/_display.py
  piker/ui/order_mode.py
Labels: perf, clearing, broker-backend

#372 The ems flattening
  piker/clearing/_ems.py
  piker/clearing/_paper_engine.py
Labels: factoring, clearing, python_versions

#378 Drop `msgpack` from `marketstore` module
  piker/data/marketstore.py
Labels: dependencies

#374 Open order loading
  piker/brokers/ib/broker.py
  piker/brokers/kraken/broker.py
  piker/brokers/kraken/feed.py
  piker/clearing/_client.py
  piker/clearing/_ems.py
  piker/clearing/_messages.py
  piker/clearing/_paper_engine.py
  piker/data/types.py
  piker/ui/_editors.py
  piker/ui/_interaction.py
  piker/ui/_lines.py
  piker/ui/order_mode.py
Labels: clearing, broker-backend

#385 Pin to `asyncvnc@main` after upstream fixes
  requirements.txt
Labels: dependencies

#331 Deribit backend & minimal broker check tool
  config/brokers.toml
  piker/brokers/cli.py
  piker/brokers/deribit/README.rst
  piker/brokers/deribit/__init__.py
  piker/brokers/deribit/api.py
  piker/brokers/deribit/assets/0_wallet.png
  piker/brokers/deribit/assets/1_wallet_select_deposit.png
  piker/brokers/deribit/assets/2_gen_deposit_addr.png
  piker/brokers/deribit/assets/3_deposit_address.png
  piker/brokers/deribit/assets/4_wallet_deposit_history.png
  piker/brokers/deribit/feed.py
  piker/data/_web_bs.py
  requirements.txt
  setup.py
Labels: testing, broker-backend

#390 Oneliner enable rpc modules on runtime open
  piker/_daemon.py
Labels: bug

#391 Pull jsonrpc machinery out of deribit backend
  piker/brokers/deribit/api.py
  piker/data/_web_bs.py
Labels: enhancement, broker-backend

#386 Paper race tolerance
  piker/clearing/_allocate.py
  piker/clearing/_ems.py
  piker/clearing/_paper_engine.py
  piker/ui/_position.py
  piker/ui/order_mode.py
Labels: clearing, positioning

#394 Store shm array size in token schema, use for loading
  piker/data/_sharedmem.py
Labels: data eng

#367 `ib`: live & paper accounts together, infra refinements
  dockering/ib/docker-compose.yml
  dockering/ib/ibc.ini
  dockering/ib/jts_live.ini
  dockering/ib/run_x11_vnc.sh
  piker/brokers/ib/README.rst
  piker/brokers/ib/api.py
  piker/brokers/ib/feed.py
  piker/ui/_overlay.py
Labels: broker-backend, brokers-can-smbz
