Repository pikers/piker, pull requests merged in 2023-03, with the labels that each got.

#475 Explicitly write `pps.toml` on exit for `ib` and `kraken`
  piker/brokers/ib/broker.py
  piker/brokers/kraken/api.py
  piker/brokers/kraken/broker.py
Labels: clearing, broker-backend, ledger

#470 Fixed float dust bug on zero position
  piker/brokers/ib/broker.py
  piker/brokers/ib/feed.py
  piker/brokers/kraken/api.py
  piker/brokers/kraken/broker.py
  piker/brokers/kraken/feed.py
  piker/clearing/_paper_engine.py
  piker/config.py
  piker/data/_source.py
  piker/pp.py
  tests/test_paper.py
Labels: bug

#474 `ib`: restore and (maybe) use `xdotool` + `i3ipc` reset method
  piker/brokers/ib/_util.py
  piker/brokers/ib/feed.py
  scripts/ib_data_reset.py
Labels: data-layer, broker-backend, brokers-can-smbz

#484 Pps precision hotfixes
  piker/brokers/kraken/feed.py
  piker/pp.py
Labels: bug, broker-backend, positioning

#483 `.service` subpkg
  .github/workflows/ci.yml
  piker/__init__.py
  piker/_daemon.py
  piker/brokers/cli.py
  piker/brokers/core.py
  piker/brokers/ib/_util.py
  piker/clearing/_client.py
  piker/cli/__init__.py
  piker/config.py
  piker/data/_sampling.py
  piker/data/cli.py
  piker/data/feed.py
  piker/log.py
  piker/service/__init__.py
  piker/service/_actor_runtime.py
  piker/service/_ahab.py
  piker/service/_daemon.py
  piker/service/_mngr.py
  piker/service/_registry.py
  piker/service/elastic.py
  piker/service/marketstore.py
  piker/testing/__init__.py
  piker/ui/_app.py
  piker/ui/_exec.py
  piker/ui/cli.py
  tests/conftest.py
  tests/test_databases.py
  tests/test_paper.py
  tests/test_services.py
Labels: integration, (sub-)systems, tsdb
